.hero_title__h1 {
  font-family: Tangrine;
}
.hero_title__h3 {
  font-family: BeauRivage;
}
.hero__button {
  background-color: var(--deep-brown);
  color: var(--white);
}
.hero__p {
  color: var(--gray);
}
.hero_Pics__img {
  min-width: 370px;
  width: 80%;
  height: 444px;
  border-radius: 10px;
}
