@import "tailwindcss";
:root{
    --primary-cream:#FFFDF8;
    --cream:#FBEDCA;
    --deep-brown:#313131;
    --white:#FFFFFF;
    --gray:#7E7E7E;

}
body{
    background-color: var(--primary-cream);
    font-family: Montserrat;
}
h2{
    font-size: clamp(25px,10vw,36px);
}
/* 
media screen's size
mobile:320px~767px
tablet:768~1022 px
desktop: 1022~1439 px
wide-Screen: 1440+ px
*/