.about__img {
  width: 100%;
  height: 100%;
}

.about__h2{
    font-size: clamp(25px,10vw,36px);
}
/* From Uiverse.io by joe-watson-sbf with some changes */
.about__button {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: .5em 1em;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.about__button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--deep-brown);
  transition: 0.5s ease;
}

.about__button:hover {
  transition-delay: 0.5s;
  color: var(--white);
  background-color: var(--deep-brown);

}

.about__button:hover::before {
  width: 100%;
}
@media screen and (max-width:768px) {
  .about_img__div,.about__img{
    display: none;
  }
  .about__section{
     background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/public/images/JPG/aboutBakery.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about_text__div{
    backdrop-filter: blur(10px);
    color: var(--white);
    background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
  }
  .about_text__div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.about_text__div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );

}
}
/* .glass-card {
  width: 240px;
  height: 360px;
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
  */