.footer_link__a {
  background-color: var(--navy-blue);
  transition: 0.6s ease-in-out;
}
.footer_link__svg {
  stroke: var(--cream);
  margin: 5px;
}
.footer_link__a:hover {
  background-color: var(--cream);
}
.footer_link__a:hover .footer_link__svg {
  stroke: var(--navy-blue);
}
@media (max-width: 1150px) {
  .footer_Quick_links__ul {
    display: none;
  }
}
@media (min-width: 1150px) {
  .footer_Quick_links__ul {
    display: flex;
  }
}

@media (max-width: 950px) {
  .footer_Contact__ul {
    display: none;
  }
  .footer_link2__a {
    display: inline;
  }
}
@media (min-width: 950px) {
  .footer_Contact__ul {
    display: flex;
  }
  .footer_link2__a {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer_Email__div,
  .footer_Logo_text__p {
    display: none;
  }
}
@media (min-width: 767px) {
  .footer_Email__div,
  .footer_Logo_text__p {
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer_Email2__div {
    display: flex;
  }
}
@media (min-width: 767px) {
  .footer_Email2__div {
    display: none;
  }
}
@media (width< 330px) {
  .input_wrapper {
    display: none;
  }
}
@media (width> 330px) {
  .input_wrapper {
    display: flex;
  }
}

/* From Uiverse.io by vinodjangid07 */
.input_wrapper {
  width: fit-content;
  height: 45px;
  border-radius: 20px;
  padding: 5px;
  box-sizing: content-box;
  align-items: center;
  background-color: var(--cream);
}

.icon {
  width: 30px;
  fill: var(--navy-blue);
  margin-left: 8px;
  transition: all 0.3s;
}
.input {
  max-width: 170px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: var(--cream);
  color: var(--navy-blue);
  font-size: 1em;
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--cream) inset;
  -webkit-text-fill-color: var(--navy-blue);
}
.Subscribe_btn {
  height: 100%;
  width: 95px;
  border: none;
  border-radius: 15px;
  color: var(--cream);
  cursor: pointer;
  background-color: var(--navy-blue);
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}
.arrow {
  /* display: none; */
  position: absolute;
  margin-right: 150px;
  transition: all 0.3s;
}
.input_wrapper:active .icon {
  transform: scale(1.3);
}
.Subscribe_btn:hover {
  color: var(--navy-blue);
}
.Subscribe_btn:hover .arrow {
  margin-right: 0;
  animation: jello-vertical 0.9s both;
  transform-origin: right;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.Subscribe_btn:active {
  transform: scale(0.9);
}
